{% extends 'layout_base.twig' %}

{% block layout %}
							<div class="clear"></div>
						</div>
						{% if positions.boxes or S_EDIT_MODE %}
						<div id="pos-boxes" class="block-position horizontal grid-equalHeight">
							{% for block in positions.boxes %}
							<div id="block-{{ block.bid }}" class="block col">
								{% include 'views/' ~ (block.view ? block.view : 'simple') ~ '_view.twig' %}
								{{ block_controls }}
							</div>
							{% endfor %}
						</div>
						{% endif %}

						{% if positions.bottom or S_EDIT_MODE %}
						<div class="grid-column">
							<div id="pos-bottom" class="block-position col">
								{% for block in positions.bottom %}
								<div id="block-{{ block.bid }}" class="block">
									{% include 'views/' ~ (block.view ? block.view : 'simple') ~ '_view.twig' %}
									{{ block_controls }}
								</div>
								{% endfor %}
							</div>
						</div>
						{% endif %}
					</div>
					{% if positions.subcontent or S_EDIT_MODE %}
					<div id="pos-subcontent" class="{{ "block-position col-" ~ subcontent_size ~ "_sm-12" ~ subcontent_placement ~ " sidebar" }}">
						{% for block in positions.subcontent %}
						<div id="block-{{ block.bid }}" class="block">
							{% include 'views/' ~ (block.view ? block.view : 'simple') ~ '_view.twig' %}
							{{ block_controls }}
						</div>
						{% endfor %}
					</div>
					{% endif %}
				</div>
				<div class="grid">
				{% if positions.bottom_hor or S_EDIT_MODE %}
					<div id="pos-bottom_hor" class="block-position horizontal grid-equalHeight">
						{% for block in positions.bottom %}
						<div id="block-{{ block.bid }}" class="block col">
							{% include 'views/' ~ (block.view ? block.view : 'simple') ~ '_view.twig' %}
							{{ block_controls }}
						</div>
						{% endfor %}
					</div>
				{% endif %}
				</div>
			</div>
			{% if positions.sidebar or S_EDIT_MODE %}
			<div id="pos-sidebar" class="{{ "block-position col-" ~ sidebar_size ~ "_sm-12" ~ sidebar_placement ~ " sidebar" }}">
				{% for block in positions.sidebar %}
				<div id="block-{{ block.bid }}" class="block">
					{% include 'views/' ~ (block.view ? block.view : 'simple') ~ '_view.twig' %}
					{{ block_controls }}
				</div>
				{% endfor %}
			</div>
			{% endif %}
		</div>

		{% if positions.footer or S_EDIT_MODE %}
		<div id="pos-footer" class="block-position horizontal">
			<div class="footer panel bg3">
				<div class="grid-center">
				{% for block in positions.footer %}
					<div id="block-{{ block.bid }}" class="block col">
						{% include 'views/' ~ (block.view ? block.view : 'simple') ~ '_view.twig' %}
						{{ block_controls }}
					</div>
				{% endfor %}
				</div>
			</div>
		</div>
		{% endif %}
	</div>
{% endblock layout %}
