{% extends 'layout_base.twig' %}

{% block layout %}
	<div class="sitemaker">
		{% if positions.panel or S_EDIT_MODE %}
		<div class="grid-column-noBottom">
			<div id="pos-panel" class="col block-position">
			{% for block in positions.panel %}
				<div id="block-{{ block.bid }}" class="block">
					{% include 'views/' ~ (block.view ? block.view : 'simple') ~ '_view.twig' %}
					{{ block_controls }}
				</div>
			{% endfor %}
			</div>
		</div>
		{% endif %}

		<div class="grid-noBottom">
			<div class="col">
				{% if positions.top_hor or S_EDIT_MODE %}
				<div id="pos-top_hor" class="block-position horizontal grid-equalHeight">
					{% for block in positions.top_hor %}
					<div id="block-{{ block.bid }}" class="block col">
						{% include 'views/' ~ (block.view ? block.view : 'simple') ~ '_view.twig' %}
						{{ block_controls }}
					</div>
					{% endfor %}
				</div>
				{% endif %}

				<div class="grid-noBottom">
					<div class="col">
						{% if positions.top or S_EDIT_MODE %}
						<div class="grid-column">
							<div id="pos-top" class="block-position col">
								{% for block in positions.top %}
								<div id="block-{{ block.bid }}" class="block">
									{% include 'views/' ~ (block.view ? block.view : 'simple') ~ '_view.twig' %}
									{{ block_controls }}
								</div>
								{% endfor %}
							</div>
						</div>
						{% endif %}

						<div class="sm-module">
{% endblock layout %}
