<div class="forabg sm-block-container{{ block.class }} sm-block-spacing"{{ block.css_style }}>
	<div class="inner">
		{% if block.title and not block.hide_title %}
		<ul class="topiclist">
			<li class="header">
				<dl class="row-item">
					<dt>
						<div class="list-inner sm-list-inner">
							<span class="block-icon"><i class="{{ block.icon }}" aria-hidden="true"></i></span>
							<span class="block-title{{ editable }}">{{ block.title }}</span>
						</div>
					</dt>
					<dd></dd>
				</dl>
			</li>
		</ul>
		{% endif %}
		<ul class="forums inner-spacing">
			<li class="sm-block-content">
				{{ block.content ? block.content : include(block.template, block.data) }}
			</li>
		</ul>
	</div>
</div>
